# Project Title
---

Group Name

Team members:
- Name
- Name
- Name

## Introduction 
__Introduction to the topic__ 

    ...

---

## Problem Statement

    ...

## Objectives:
__Questions that will guide the analysis to solve the problem__

    ...

---

## Exploratory Data Analysis (EDA):

### Data Info:
__Getting the data and exploring it (includes descriptive statistics)__

In [116]:
import pandas as pd

# Plotting libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Interactive visualization library
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# N-D arrays & vectorized math
import numpy as np

In [117]:
athlets_events_df=pd.read_csv('olympics/athlete_events.csv')
                              
noc_regions_df= pd.read_csv('olympics/noc_regions.csv')

In [118]:
athlets_events_df.describe()

                  ID            Age
count  271116.000000  261642.000000
mean    68248.954396      25.556898
std     39022.286345       6.393561
min         1.000000      10.000000
25%     34643.000000      21.000000
50%     68205.000000      24.000000
75%    102097.250000      28.000000
max    135571.000000      97.000000

In [119]:

athlets_events_df.dtypes

ID          int64
Name       object
Sex        object
Age       float64
Height     object
Weight     object
Team       object
NOC        object
Games      object
City       object
Sport      object
Event      object
Medal      object
dtype: object

In [120]:
noc_regions_df.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [121]:
print(athlets_events_df.shape)

print(athlets_events_df.isnull().sum())
athlets_events_df.isnull().mean()*100

(271116, 13)
ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

ID         0.000000
Name       0.000000
Sex        0.000000
Age        3.494445
Height    22.193821
Weight    23.191180
Team       0.000000
NOC        0.000000
Games      0.000000
City       0.000000
Sport      0.000000
Event      0.000000
Medal     85.326207
dtype: float64

### Data Handling: 
__Cleaning, transforming, and combining data__

In [122]:
athlets_events_clean=athlets_events_df

athlets_events_clean['Height']=athlets_events_clean['Height'].str.replace('cm','').astype(float)

athlets_events_clean['Weight']=athlets_events_clean['Weight'].str.replace('kg','').astype(float)


athlets_events_clean

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,City,Sport,Event,Medal
0,1,A Dijiang,male,24.0,180.0,80.0,China,CHN,1992 Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,Male,23.0,170.0,60.0,China,CHN,2012 Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,Male,24.0,NaN,NaN,Denmark,DEN,1920 Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,FeMale,21.0,185.0,82.0,Netherlands,NED,1988 Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,male,27.0,176.0,59.0,Poland,POL,2014 Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,Male,27.0,176.0,59.0,Poland,POL,2014 Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,male,30.0,185.0,96.0,Poland,POL,1998 Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,Male,34.0,185.0,96.0,Poland,POL,2002 Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [123]:
print(athlets_events_df['Weight'].mean())

weight_grouping=athlets_events_df.groupby('NOC')['Weight'].mean()

weight_grouping

70.70239290053351

NOC
AFG    65.901639
AHO    76.176471
ALB    71.491803
ALG    68.693252
AND    70.644444
         ...
YEM    59.680000
YMD    63.333333
YUG    75.156326
ZAM    66.035971
ZIM    68.159170
Name: Weight, Length: 230, dtype: float64

In [124]:
athlets_events_clean.dtypes

ID          int64
Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
City       object
Sport      object
Event      object
Medal      object
dtype: object

In [141]:
athlets_events_clean = athlets_events_df.dropna(subset=["Age"]).copy()

athlets_events_clean.drop(columns=["Medal"], inplace=True)

athlets_events_clean.shape


athlets_events_clean['Height']=athlets_events_clean['Height'].fillna(athlets_events_df['Height'].mean())

athlets_events_clean=athlets_events_clean['Weight'].fillna(athlets_events_df['Weight'].mean())

athlets_events_clean.isnull().sum()

np.int64(0)

In [126]:
print(athlets_events_clean.isnull().sum())

0

In [127]:
athlets_events_clean.dtypes

dtype('float64')

In [128]:
athlets_events_clean.duplicated().sum()

athlets_events_clean.drop_duplicates(inplace=True)

In [129]:
athlets_events_clean.shape

(221,)

In [130]:
noc_regions_df.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [131]:
noc_regions_df.isnull().sum()

noc_regions_clean= noc_regions_df

In [132]:
noc_regions_clean.isnull().sum()

NOC         0
region      3
notes     209
dtype: int64

In [133]:
noc_regions_clean.drop(columns=["notes"], inplace=True)

In [134]:
noc_regions_clean = noc_regions_clean.dropna(subset=["region"]).copy()

In [135]:
noc_regions_clean.isnull().sum()

noc_regions_clean

     NOC       region
0    AFG  Afghanistan
1    AHO      Curacao
2    ALB      Albania
3    ALG      Algeria
4    AND      Andorra
..   ...          ...
225  YEM        Yemen
226  YMD        Yemen
227  YUG       Serbia
228  ZAM       Zambia
229  ZIM     Zimbabwe

[227 rows x 2 columns]

In [136]:
athlets_events_clean.isna().sum()

np.int64(0)

In [137]:

merged_df = pd.merge(athlets_events_clean,noc_regions_clean, on= 'NOC', how='left')

merged_df.isnull().sum()

KeyError: 'NOC'

### Analysis: 
__Answering the objectives through data analysis__

---

## Summary
__Summarizing the key insights from the analysis__

**Note**: _Use Bullet Points_

    ...

## Recommendations/Conclusion
**Note**: _Use Bullet Points_

    ...